/* Menu style */
/* backdrop style */
/* LogIn styles */
/* SignUp alert styles ( if there is no content inside the alert display will be none  */
/* NavBarBig */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Menu style start */
.categories{
  display: none;
}

.NavItem{
  transition: all 0.3s ease-in-out;
  
}
.NavItem div:first-child{
  min-width:fit-content;

  transition: all 0.3s ease-in-out;

  
    cursor: pointer;
    
  
}
.NavItem div:nth-last-child(1){
  display: none;
}



.NavItem div:first-child:hover{
  
  background-color: rgb(255, 253, 252);
  
  opacity: 0.8;
}







/* Menu style end */

/* backdrop style start */

.BackDrop{
  position: fixed;
  min-width:100%;
  min-height:100%;
  background-color: rgb(170, 170, 170);
  opacity: 0;
  z-index: -100;
  transition: all 0.3s ease-in-out;
}

.BackDropActivated{
  opacity: 0.5;
  z-index:5;
}

/* backdrop style end */

/*  LogIn styles start --------------------------------------------------------------- */

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.LogInButton {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.LogInButton:hover {
  opacity: 0.8;
}

.LogInButton:disabled{
  background-color: #838383;
  cursor: default;
}


.container1 {
  padding: 16px;
  height:auto
}

/* The "Forgot password" text */
span.psw {
  float:left;
  margin-top: 20px;
}

/*  LogIn styles end --------------------------------------------------------------- */


/* SignUp alert start -------------------------------------------------------------- */

.SignUpAlert:empty{
  display: none;
}
#Alert{
  display: none;
}
#Alert p{
  padding: 10px 35px;
  font-size: 18px;
  text-align: start;
}

/* Add a green text color and a checkmark when the requirements are right */
.PassValid {
  color: green;
}

.PassValid:before {
  position: relative;
  left: -35px;
  content: "\2713";
}

/* Add a red text color and an "x" icon to make this icon use utf-8 hex code and put\before the hex code when the requirements are wrong */
.PassInvalid {
  color: red;
}

.PassInvalid:before {
  position: relative;
  left: -35px;
  content: "\2715";
}

.SignUpButton {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.SignUpButton:hover {
  opacity: 0.8;
}

.SignUpButton:disabled{
  background-color: #838383;
  cursor: default;
}
.SignUpButton:disabled:hover{
  opacity: 1;
  cursor: default;
}




/* SignUp alert end -------------------------------------------------------------- */
/*  NavBarBig start */

.SmallMenu{
  transition: all 0.3s ease-in-out;

}
.SmallMenu:hover{
  background-color: rgba(249, 250, 250, 0.581);
  cursor: pointer;
}

/*  Small Menu end */
/*  NabBarBig start */
.NavBarBig{
  background-color: #838383;
  min-height: 5vh;
  align-items: stretch;
 
  
}
.NavBarBig div{
  
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  
 
  
}

.NavBarBig div:hover{
  background-color: #fcb478dd;
  cursor: pointer;
}

.Categories{
  text-align: start;
  background-color: #fcb478dd;
  height: 0vh;
  overflow-y: hidden;
  transition: all 0.3s ease-in-out;
}

/*  NabBarBig end */


/*  NabBarSmall start */
.NavBarSmall{
  background-color: #838383;
  min-height: 5vh;
  align-items: stretch;
 
  
}
.NavBarSmall div{
  
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  
 
  
}

.NavBarSmall div:hover{
  background-color: #fcb478dd;
  cursor: pointer;
}

.Categories{
  
  background-color: #f8f6f5;
  height: 0vh;
  overflow-y: hidden;
  transition: all 0.3s ease-in-out;
}

.Categories div{
  cursor: pointer;
  word-wrap: break-word;
  transition: all 0.3s ease-in-out
}

.Categories div:hover{
  background-color: #fcb478dd;
}

.Services{
  cursor: pointer;
}

/*  NabBarSmall end */